.interbox {
  background-color: #23213D;
  text-align: left;
  overflow-x: hidden;
  height: 87vh;
}

.hum {
    height: auto;
}

.frame {
    /* background-image: url(.img/Frame 4079.svg) */
    position: absolute;
    top: 100px;
    left: -160px;
}
.frame1{
    position: absolute;
    top: 300px;
    right:0px;
    /* left: 1250px; */
    
}
.rightframe{
    overflow-x: hidden;
}
.rect{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.circle, .circle1, .circle2, .circle3{
    position: relative;
    height: 300px;
    top: 320px;
    left: -130px;
}
.creating{
    background-color: #38C3E0;
    border-color: #93DBEA;
    color: #FAFAFA;
}
.listen{
    background-color: transparent;
    border-color: #FAFAFA;
    color: #FAFAFA;
}